%form.form-inline
  .input-group
    %input.form-control{id: "searchInput", type: "search", placeholder: t('search'), aria: {label: t('search')}}
    .input-group-append
      %button.btn.btn-success{type: "submit"} &gt;
