#background {
  position: absolute;
  top: 50px;
  
  left: 50%;
  transform: translate(-50%);
  
  width: 100%;
  height: calc(100vh - 50px);
  max-width: 512px;
  
  background: url(../images/rescousse.png) no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  
  opacity: 40%;
}

#description {
  height: calc(100vh - 50px);
}
.carousel-item {
  height: calc(100vh - 50px);
}

#map {
  height: calc(100vh - 50px - 35px);;
}
